build/.ninja_deps
build/.ninja_log
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/build.ninja
build/cmake_install.cmake
build/compile_commands.json
build/jnipp.sln
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-0a983ad28170de1f3915.json
build/.cmake/api/v1/reply/codemodel-v2-a572458a98002f0f6339.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-MinSizeRel-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-app-Debug-7ab44524cbd5ada90c6a.json
build/.cmake/api/v1/reply/directory-app-MinSizeRel-7ab44524cbd5ada90c6a.json
build/.cmake/api/v1/reply/directory-app-Release-7ab44524cbd5ada90c6a.json
build/.cmake/api/v1/reply/directory-app-RelWithDebInfo-7ab44524cbd5ada90c6a.json
build/.cmake/api/v1/reply/index-2021-11-18T11-47-00-0748.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-bd352142064e96364933.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-bd352142064e96364933.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-bd352142064e96364933.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-bd352142064e96364933.json
build/.cmake/api/v1/reply/target-app-Debug-74070294b603c7627f29.json
build/.cmake/api/v1/reply/target-app-MinSizeRel-353a0ae58c2325a7a691.json
build/.cmake/api/v1/reply/target-app-Release-48a35aa8cdd1b7c15791.json
build/.cmake/api/v1/reply/target-app-RelWithDebInfo-0655ad5880d91c1bfbb8.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-252b907827a5e208deff.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-252b907827a5e208deff.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-252b907827a5e208deff.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-252b907827a5e208deff.json
build/.cmake/api/v1/reply/toolchains-v1-0ec5775eeffd37d8a354.json
build/app/app.dll
build/app/app.dll.manifest
build/app/app.exe
build/app/app.lib
build/app/app.pdb
build/app/app.vcxproj
build/app/app.vcxproj.filters
build/app/cmake_install.cmake
build/app/CMakeFiles/generate.stamp
build/app/CMakeFiles/generate.stamp.depend
build/app/CMakeFiles/app.dir/app.cpp-4cfe671b.obj.tmp
build/app/CMakeFiles/app.dir/app.cpp-27cc09ed.obj.tmp
build/app/CMakeFiles/app.dir/app.cpp-cf32d0f0.obj.tmp
build/app/CMakeFiles/app.dir/app.cpp.obj
build/app/CMakeFiles/app.dir/embed.manifest
build/app/CMakeFiles/app.dir/intermediate.manifest
build/app/CMakeFiles/app.dir/manifest.rc
build/app/CMakeFiles/app.dir/manifest.res
build/app/Debug/app.dll
build/app/Debug/app.exe
build/app/Debug/app.exp
build/app/Debug/app.ilk
build/app/Debug/app.lib
build/app/Debug/app.pdb
build/app/Release/app.dll
build/app/Release/app.exp
build/app/Release/app.lib
build/app/app.dir/Debug/app.dll.recipe
build/app/app.dir/Debug/app.exe.recipe
build/app/app.dir/Debug/app.obj
build/app/app.dir/Debug/vc142.pdb
build/app/app.dir/Debug/vcpkg.applocal.log
build/app/app.dir/Debug/app.tlog/app.lastbuildstate
build/app/app.dir/Debug/app.tlog/app.write.1u.tlog
build/app/app.dir/Debug/app.tlog/CL.command.1.tlog
build/app/app.dir/Debug/app.tlog/CL.read.1.tlog
build/app/app.dir/Debug/app.tlog/CL.write.1.tlog
build/app/app.dir/Debug/app.tlog/CustomBuild.command.1.tlog
build/app/app.dir/Debug/app.tlog/CustomBuild.read.1.tlog
build/app/app.dir/Debug/app.tlog/CustomBuild.write.1.tlog
build/app/app.dir/Debug/app.tlog/link.command.1.tlog
build/app/app.dir/Debug/app.tlog/link.read.1.tlog
build/app/app.dir/Debug/app.tlog/link.write.1.tlog
build/app/app.dir/Release/app.dll.recipe
build/app/app.dir/Release/app.obj
build/app/app.dir/Release/vcpkg.applocal.log
build/app/app.dir/Release/app.tlog/app.lastbuildstate
build/app/app.dir/Release/app.tlog/app.write.1u.tlog
build/app/app.dir/Release/app.tlog/CL.command.1.tlog
build/app/app.dir/Release/app.tlog/CL.read.1.tlog
build/app/app.dir/Release/app.tlog/CL.write.1.tlog
build/app/app.dir/Release/app.tlog/CustomBuild.command.1.tlog
build/app/app.dir/Release/app.tlog/CustomBuild.read.1.tlog
build/app/app.dir/Release/app.tlog/CustomBuild.write.1.tlog
build/app/app.dir/Release/app.tlog/link.command.1.tlog
build/app/app.dir/Release/app.tlog/link.delete.1.tlog
build/app/app.dir/Release/app.tlog/link.read.1.tlog
build/app/app.dir/Release/app.tlog/link.write.1.tlog
build/win32/Debug/ALL_BUILD/ALL_BUILD.recipe
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/win32/Release/ALL_BUILD/ALL_BUILD.recipe
build/win32/Release/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/win32/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/win32/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/win32/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/win32/Release/ZERO_CHECK/ZERO_CHECK.recipe
build/win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
.vscode/settings.json
jnipp.code-workspace
